@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --black_color:#0C0C0C;
    --blue_color:#0E1224;
    --gray_color:#E4E5E5;
    --gradient_main:linear-gradient(180deg, rgba(12, 12, 12, 0) 0%, rgba(12, 12, 12, 0.85) 84.9%);
    --gradient_second: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 0%, rgba(19, 21, 31, 0) 100%);
    --title_color:color: rgba(255, 255, 255, 0.8);
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

html,body{
    font-family: 'Red Hat Display', sans-serif;
    height:100%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Red Hat Display', sans-serif;
}

  
a {
 text-decoration: none;
}
  
li {
 list-style: none;
}

/* 
    ==============
    Navigation CSS
    ============== 
*/
nav{
    display: flex;
    background-image: var(--gradient_main),url(../img/header-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height: 130vh;
}

nav .logo{
    margin-top: 50.72px;
    margin-left: 96px;
}

nav .right-components{ 
    display: inline-flex;
    margin-left: auto;
    margin-top: 50.72px;
}

nav .right-components .contact{
    color: var(--gray_color);
    margin-right: 61.9px;
}

nav .right-components .search-icon .background-circle{
   margin-top: -1rem;
   margin-right: 3rem;
   width: 57.57px;
   height: 57.57px;
   border: 0.913793px solid rgba(217, 217, 217, 0.5);
   border-radius: 54.8276px;
}

nav .right-components .search-icon .background-circle img{
    padding: 1rem;
}

nav .right-components .side-menu-bar{
    margin-top: -1rem;
}
nav .right-components .side-menu-bar .background-rectangle{
    margin-right: 109.86px;
    width: 144.52px;
    height: 57.57px;
    border-radius: 77.6724px;
    background: var(--gray_color);

}

nav .right-components .side-menu-bar .background-rectangle img{
    margin-left: 1.5rem;
    margin-top: 1rem;
}

nav .right-components .side-menu-bar p{
    position: absolute;
    margin-left: 4rem;
    margin-top: 1.2rem;
    line-height: 17px;
    font-weight: 300;
    color: var(--black_color);
}



/* 
    ==============
    Main Title CSS
    ============== 
*/

.headings{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headings .top-title h5{
    position: relative;
    left: 25%;
    font-size: 15px;
    font-weight: 700;
    color: white;
    letter-spacing: 5px;
}

.headings .mid-title h1{
    font-weight: 600;
    font-size: 63px;
    line-height: 83px;
    color: white;
    letter-spacing: 9px;
}

.headings .bottom-title h6{
    position: relative;
    left: 35%;
    font-size: 9px;
    font-weight: 600;
    color: white;
    letter-spacing: 3.5px;
}

.headings .bottom-line{
    position:relative;
    height:1px;
    width: 20%;
    left: 38%;
    margin-top: 0.5rem;
    background: gray;
}

.headings .bottom-line::before{
    position:absolute; 
    content:'';
    width:50%;
    height:1px;
    background:var(--gray_color);
}



/* 
    ==============
    Search Box CSS
    ============== 
*/

.search-box{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-box .input-boxes{
    display: inline-flex;
}

.search-box .input-boxes .box-one ,.box-second, .box-third, .box-fourth, .box-fifth{
    height: 60px;
    width: 200px;
    background: white;
}

.search-box .input-boxes .box-one img{
    position: absolute;
    margin-left: 10rem;
    margin-top: 1.5rem;
}

.search-box .input-boxes .box-second img{
    position: absolute;
    margin-left: 10rem;
    margin-top: 1.5rem;
}

.search-box .input-boxes .box-third img{
    position: absolute;
    margin-left: 10rem;
    margin-top: 1.5rem;
}


.search-box .input-boxes .box-fourth img{
    position: absolute;
    margin-left: 10rem;
    margin-top: 1.5rem;
}

.search-box .input-boxes .box-one .front-line{
    position: absolute;
    padding-left: 0.5rem;
    margin-left: 1rem;
    margin-top: -1.3rem;
}


.search-box .input-boxes .box-second .front-line{
    position: absolute;
    padding-left: 0.5rem;
    margin-left: 1rem;
    margin-top: -1.3rem;
}

.search-box .input-boxes .box-third .front-line{
    position: absolute;
    padding-left: 0.5rem;
    margin-left: 1rem;
    margin-top: -1.3rem;
}

.search-box .input-boxes .box-fourth .front-line{
    position: absolute;
    padding-left: 0.5rem;
    margin-left: 1rem;
    margin-top: -1.3rem;
}

.search-box .input-boxes .box-fifth .search-btn{
    margin-top: 0.25rem;
    margin-left: -0.5rem;
    width: 200px;
    height: 50px;
    background: #151616;
}

.search-box .input-boxes .box-fifth .search-btn h6{
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 3.52537px;
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.search-box .input-boxes .box-one .box-txt{
    position: absolute;
    color: rgba(35, 35, 35, 0.6);
    padding: 0.5rem;
}

.search-box .input-boxes .box-second .box-txt{
    position: absolute;
    color: rgba(35, 35, 35, 0.6);
    padding: 0.5rem;
}

.search-box .input-boxes .box-third .box-txt{
    position: absolute;
    color: rgba(35, 35, 35, 0.6);
    padding: 0.5rem;
}

.search-box .input-boxes .box-fourth .box-txt{
    position: absolute;
    color: rgba(35, 35, 35, 0.6);
    padding: 0.5rem;
}

.search-box .input-boxes .box-one, .box-second, .box-third,.box-fourth .box-txt h6{
    position: relative;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 3px;
}

.search-box .input-boxes .box-one .box-txt h3{
    font-weight: 300;
    letter-spacing: 2px;
    color: #232323;
    padding: 0.5rem;
}

.search-box .input-boxes .box-one .box-txt h3{
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    color: #232323;
    padding: 0.5rem;
}

.search-box .input-boxes .box-second .box-txt h3{
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    color: #232323;
    padding: 0.5rem;
}

.search-box .input-boxes .box-third .box-txt h3{
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    color: #232323;
    padding: 0.5rem;
}

.search-box .input-boxes .box-fourth .box-txt h3{
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    color: #232323;
    padding: 0.5rem;
}



/* 
    ===========================
    Estate Projects Section CSS
    =========================== 
*/
.estate-section{
    height: 992px;
    background-color: #020202;
    background-image: url(../img/background-arc.png);
    overflow: hidden;
}

.estate-section .title{
   position: relative;
   margin-left: 15rem;
   top: 5rem;
}

.estate-section .top-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 5px;
    color: rgba(194, 194, 194, 0.8);
}


.estate-section .down-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5px;
}

.estate-section .down-title h5{
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    fill-color: transparent;
}

.estate-section .title .see-title{
    position: absolute;
    margin-left: 43rem;
    bottom: 1rem;
    color: var(--gray_color);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 4px;
    z-index: 2;
}

.estate-section .title .arrow-icon{
    position: absolute;
    margin-left: 50rem;
    bottom: 0rem;
    width: 60px;
    height: 60px;
    background-color: var(--gray_color);
    border-radius: 50%;
    
}

.estate-section .title .arrow-icon img{
    position: absolute;
    margin-top: 0.8rem;
    left: 0.8rem;

}

.estate-section .estate-boxes .estate-box-one .estate-img .off-plan-box{
    position: relative;
    top: 13.5rem;
    left: 18rem;
    width: 126px;
    height: 40px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(5px);
    border-radius: 33px;
    z-index: 2;
}

.estate-section .estate-boxes .estate-box-one .estate-img .off-plan-box h6{
    position: absolute;
    left: 1.2rem;
    top: 0.8rem;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 3.52537px;
    color: var(--gray_color);
}

.estate-section .estate-boxes .estate-box-one .content{
    position: absolute;
    background: rgba(0, 0, 0, 0.87);
    width: 380px;
    padding: 1rem;
    left: 2.5rem;
    margin-top: 0.2rem;
    z-index: 2;
}

.estate-section .estate-boxes .estate-box-one .content .price h2{
    line-height: 33px;
    margin-top: 0.5rem;
    letter-spacing: 0.567625px;
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.estate-section .estate-boxes .estate-box-one .content .availabe-txt h6{
    margin-bottom: 0.5rem;
}

.estate-section .estate-boxes .estate-box-one .content .availabe-txt .green-tick-mark{
    position: absolute;
    margin-top: -10.1rem;
    left: -1.2rem;
}

.estate-section .estate-boxes .estate-box-one .content .availabe-txt .green-tick-mark img{
    width: 16px;
    height: 16px;
}

.estate-section .estate-boxes .estate-box-one .content .availabe-txt h6{
    color: var(--gray_color);
    margin-left: 1rem;
}

.estate-section .estate-boxes .estate-box-one .content .para h6{
    color: #FFFFFF;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.567625px;
    opacity: 0.6;
}

.estate-section .estate-boxes .estate-box-one .content .line{
    height:1px;
    width: 22rem;
    margin-top: 0.5rem;
    background: #747A85;
}


.estate-section .estate-boxes .estate-box-one .content .payment-plan {
    position: absolute;
    left: 15rem;
}

.estate-section .estate-boxes .estate-box-one .content .payment-plan h6{
    position: relative;
    left: -0.5rem;
    bottom: 1.5rem;
    color: #FFFFFF;
    opacity: 0.6;
}

.estate-section .estate-boxes .estate-box-one .content .payment-plan img{
    position: absolute;
    top: -1.4rem;
    left: -1.5rem;
    width: 11px;
    height: 11px;
    font-weight: 400;
}

/* Estate Section Box One*/

.estate-section .estate-boxes .estate-box-one .bottom-content{
    position: absolute;
    z-index: 2;
    margin-top: 10rem;
    margin-left: 2.8rem; 
    padding: 0;
}

.estate-section .estate-boxes .estate-box-one .bottom-content .bottom-top-title h6{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    letter-spacing: 1.61px;
    line-height: 13px;
}

.estate-section .estate-boxes .estate-box-one .bottom-content .bottom-down-title h2{
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.611111px;
    color: #FFFFFF;
}

.estate-section .estate-boxes .estate-box-one .bottom-content .location{
    position: absolute;
    margin-left: 15rem;
    bottom: 2rem;
}

.estate-section .estate-boxes .estate-box-one .bottom-content .location img{
    position: absolute;
    margin-left: 1rem;
    bottom: -0.2rem;
    width: 19px;
    height: 19px;
}

.estate-section .estate-boxes .estate-box-one .bottom-content .location h6{
    color: #FFFFFF;
    margin-left: 2.5rem;
}


.estate-section .estate-boxes .estate-box-one .estate-img img{
    position: relative;
    left: 2rem;
    top: 10rem;
    width: 400px;
    height: 500px;
}

.estate-section .estate-boxes .estate-box-two .estate-img img{
    position: relative;
    left: 34rem;
    bottom: 18rem;
    width: 400px;
    height: 500px;
}


.estate-section .estate-boxes .estate-box-three .estate-img img{
    position: relative;
    margin-left: 65rem;
    bottom: 44rem;
    width: 300px;
    height: 300px;
}

/* Estate Section Box Two*/

.estate-section .estate-boxes .estate-box-two .estate-img .bottom-content{
    position: absolute;
    z-index: 2;
    margin-left: 34rem;
    margin-top: -17.5rem;
    padding: 0;
}

.estate-section .estate-boxes .estate-box-two .estate-img .bottom-content .bottom-top-title h6{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    letter-spacing: 1.61px;
    line-height: 13px;
}

.estate-section .estate-boxes .estate-box-two .estate-img .bottom-content .bottom-down-title h2{
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.611111px;
    color: #FFFFFF;
}

.estate-section .estate-boxes .estate-box-two .estate-img .bottom-content .location{
    position: absolute;
    margin-left: 16rem;
    bottom: 2.5rem;
}

.estate-section .estate-boxes .estate-box-two .estate-img .bottom-content .location img{
    position: absolute;
    margin-left: -33rem;
    bottom: -0.2rem;
    width: 19px;
    height: 19px;
}

.estate-section .estate-boxes .estate-box-two .estate-img .bottom-content .location h6{
    color: #FFFFFF;
    margin-left: 2.5rem;
}


/* Estate Section Box Three*/

.estate-section .estate-boxes .estate-box-three .estate-img .bottom-content{
    position: absolute;
    z-index: 2;
    margin-left: 65rem;
    margin-top: -43.5rem;
    padding: 0;
    overflow-x: hidden;
}

.estate-section .estate-boxes .estate-box-three .estate-img .bottom-content .bottom-top-title h6{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    letter-spacing: 1.61px;
    line-height: 13px;
}

.estate-section .estate-boxes .estate-box-three .estate-img .bottom-content .bottom-down-title h2{
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.611111px;
    color: #FFFFFF;
}

.estate-section .estate-boxes .estate-box-three .estate-img .bottom-content .location{
    position: absolute;
    margin-left: 15rem;
    bottom: 2rem;
}

.estate-section .estate-boxes .estate-box-three .estate-img .bottom-content .location img{
    position: absolute;
    margin-left: 1rem;
    bottom: -0.2rem;
    width: 19px;
    height: 19px;
}

.estate-section .estate-boxes .estate-box-three .estate-img .bottom-content .location h6{
    color: #FFFFFF;
    margin-left: 2.5rem;
}


/* 
    ===========================
    About US Section CSS
    =========================== 
*/

.about-us {
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: #020202;
    background-image: url(../img/background-arc.png);
}

.about-us .left-side-img{
    flex: 50%;
    background-image: var(--gradient_main),url(../img/about-us-img.png);
    background-size: cover;

}

.about-us .right-side-content{
    flex: 50%;
}

.about-us .right-side-content .title {
   position: relative;
   margin-left: 5rem;
   top: 20rem;
}

.about-us .right-side-content .title .top-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 5px;
    color: rgba(194, 194, 194, 0.8);
}


.about-us .right-side-content .title .down-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5px;
}

.about-us .right-side-content .title .down-title h5{
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    fill-color: transparent;
}

.about-us .right-side-content .title .para{
    margin-top: 0.5rem;
    color: #FFFFFF;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 1px;

}

.about-us .right-side-content .title .learn-btn{
    position: absolute;
    margin-top: 2rem;
    width: 210px;
    height: 55px;
    background: #E4E5E5;
    border-radius: 77px;
}

.about-us .right-side-content .title .learn-btn h6{
    margin-top: 1.2rem;
    margin-left: 4rem;
    letter-spacing: 0.913793px;
}



/* 
    ===========================
    Featured Section CSS
    =========================== 
*/
.featured-section{
    height: 992px;
    background-color: #020202;
    overflow: hidden;
}

.featured-section .title{
   position: relative;
   margin-left: 15rem;
   top: 5rem;
}

.featured-section .top-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 5px;
    color: rgba(194, 194, 194, 0.8);
}


.featured-section .down-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5px;
}

.featured-section .down-title h5{
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    fill-color: transparent;
}

.featured-section .title .see-title{
    position: absolute;
    margin-left: 43rem;
    bottom: 1rem;
    color: var(--gray_color);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 4px;
    z-index: 2;
}

.featured-section .title .arrow-icon{
    position: absolute;
    margin-left: 50rem;
    bottom: 0rem;
    width: 60px;
    height: 60px;
    background-color: var(--gray_color);
    border-radius: 50%;
    
}

.featured-section .title .arrow-icon img{
    position: absolute;
    margin-top: 0.8rem;
    left: 0.8rem;

}

.featured-section .featured-boxes .featured-box-one .featured-img .off-plan-box{
    position: relative;
    top: 13.5rem;
    left: 18rem;
    width: 126px;
    height: 40px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(5px);
    border-radius: 33px;
    z-index: 2;
}

.featured-section .featured-boxes .featured-box-one .featured-img .off-plan-box h6{
    position: absolute;
    left: 1.2rem;
    top: 0.8rem;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 3.52537px;
    color: var(--gray_color);
}

.featured-section .featured-boxes .featured-box-one .content{
    position: absolute;
    background: rgba(0, 0, 0, 0.87);
    width: 380px;
    padding: 1rem;
    left: 2.5rem;
    margin-top: 0.2rem;
    z-index: 2;
}

.featured-section .featured-boxes .featured-box-one .content .price h2{
    line-height: 33px;
    margin-top: 0.5rem;
    letter-spacing: 0.567625px;
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.featured-section .featured-boxes .featured-box-one .content .availabe-txt h6{
    margin-bottom: 0.5rem;
}

.featured-section .featured-boxes .featured-box-one .content .availabe-txt .green-tick-mark{
    position: absolute;
    margin-top: -10.1rem;
    left: -1.2rem;
}

.featured-section .featured-boxes .featured-box-one .content .availabe-txt .green-tick-mark img{
    width: 16px;
    height: 16px;
}

.featured-section .featured-boxes .featured-box-one .content .availabe-txt h6{
    color: var(--gray_color);
    margin-left: 1rem;
}

.featured-section .featured-boxes .featured-box-one .content .para h6{
    color: #FFFFFF;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.567625px;
    opacity: 0.6;
}

.featured-section .featured-boxes .featured-box-one .content .line{
    height:1px;
    width: 22rem;
    margin-top: 0.5rem;
    background: #747A85;
}


.featured-section .featured-boxes .featured-box-one .content .payment-plan {
    position: absolute;
    left: 15rem;
}

.featured-section .featured-boxes .featured-box-one .content .payment-plan h6{
    position: relative;
    left: -0.5rem;
    bottom: 1.5rem;
    color: #FFFFFF;
    opacity: 0.6;
}

.featured-section .featured-boxes .featured-box-one .content .payment-plan img{
    position: absolute;
    top: -1.4rem;
    left: -1.5rem;
    width: 11px;
    height: 11px;
    font-weight: 400;
}

/* Featured Section Box One*/

.featured-section .featured-boxes .featured-box-one .bottom-content{
    position: absolute;
    z-index: 2;
    margin-top: 10rem;
    margin-left: 2.8rem; 
    padding: 0;
}

.featured-section .featured-boxes .featured-box-one .bottom-content .bottom-top-title h6{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    letter-spacing: 1.61px;
    line-height: 13px;
}

.featured-section .featured-boxes .featured-box-one .bottom-content .bottom-down-title h2{
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.611111px;
    color: #FFFFFF;
}

.featured-section .featured-boxes .featured-box-one .bottom-content .location{
    position: absolute;
    margin-left: 15rem;
    bottom: 2rem;
}

.featured-section .featured-boxes .featured-box-one .bottom-content .location img{
    position: absolute;
    margin-left: 1rem;
    bottom: -0.2rem;
    width: 19px;
    height: 19px;
}

.featured-section .featured-boxes .featured-box-one .bottom-content .location h6{
    color: #FFFFFF;
    margin-left: 2.5rem;
}


.featured-section .featured-boxes .featured-box-one .featured-img img{
    position: relative;
    left: 2rem;
    top: 10rem;
    width: 400px;
    height: 400px;
}



/* Featured Section Box Two*/

.featured-section .featured-boxes .featured-box-two .featured-img .bottom-content{
    position: absolute;
    z-index: 2;
    margin-left: 34rem;
    margin-top: -17.5rem;
    padding: 0;
}

.featured-section .featured-boxes .featured-box-two .featured-img .bottom-content .bottom-top-title h6{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    letter-spacing: 1.61px;
    line-height: 13px;
}

.featured-section .featured-boxes .featured-box-two .featured-img .bottom-content .bottom-down-title h2{
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.611111px;
    color: #FFFFFF;
}

.featured-section .featured-boxes .featured-box-two .featured-img img{
    position: relative;
    left: 34rem;
    bottom: 18rem;
    width: 400px;
    height: 500px;
}

.featured-section .featured-boxes .featured-box-two .featured-img .bottom-content .location{
    position: absolute;
    margin-left: 16rem;
    bottom: 2.5rem;
}

.featured-section .featured-boxes .featured-box-two .featured-img .bottom-content .location img{
    position: absolute;
    margin-left: -33rem;
    bottom: -0.2rem;
    width: 19px;
    height: 19px;
}

.featured-section .featured-boxes .featured-box-two .featured-img .bottom-content .location h6{
    color: #FFFFFF;
    margin-left: 2.5rem;
}


/* Featured Section Box Three*/

.featured-section .featured-boxes .featured-box-three .featured-img .bottom-content{
    position: absolute;
    z-index: 2;
    margin-left: 65rem;
    margin-top: -43.5rem;
    padding: 0;
    overflow-x: hidden;
}

.featured-section .featured-boxes .featured-box-three .featured-img .bottom-content .bottom-top-title h6{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    letter-spacing: 1.61px;
    line-height: 13px;
}

.featured-section .featured-boxes .featured-box-three .featured-img .bottom-content .bottom-down-title h2{
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.611111px;
    color: #FFFFFF;
}


.featured-section .featured-boxes .featured-box-three .featured-img img{
    position: relative;
    margin-left: 65rem;
    bottom: 44rem;
    width: 300px;
    height: 300px;
}

.featured-section .featured-boxes .featured-box-three .featured-img .bottom-content .location{
    position: absolute;
    margin-left: 15rem;
    bottom: 2rem;
}

.featured-section .featured-boxes .featured-box-three .featured-img .bottom-content .location img{
    position: absolute;
    margin-left: 1rem;
    bottom: -0.2rem;
    width: 19px;
    height: 19px;
}

.featured-section .featured-boxes .featured-box-three .featured-img .bottom-content .location h6{
    color: #FFFFFF;
    margin-left: 2.5rem;
}


/* 
    ===========================
    A New Model Section CSS
    =========================== 
*/

.new-model{
    height: 100%;
    background-image: var(--gradient_second),url(../img/a-new-model-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.new-model .content{
    position: absolute;
    margin-top: 15rem;
    margin-left: 30rem;
}

.new-model .content .top-title{
    margin-left: 6rem;
    letter-spacing: 5px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
}


.new-model .content .middle-title{
    letter-spacing: 5px;
    margin-left: -5rem;
    line-height: 40px;
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}


.new-model .content .para p{
    text-align: center;
    letter-spacing: 1px;
    line-height: 26px;
    font-weight: 300;
    margin-left: -8rem;
    color: #FFFFFF;
}

.new-model .content .btn{
    position: absolute;
    margin-top: 2rem;
    margin-left: 5rem;
    width: 220px;
    height: 55px;
    background: #E4E5E5;
    border-radius: 77px;
}

.new-model .content .btn h5{
    margin-top: 1.2rem;
    margin-left: 2rem;
    letter-spacing: 0.9px;
}

/* 
    ===========================
    Director Section CSS
    =========================== 
*/

.director-section{
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: #020202;
    background-image: url(../img/background-arc.png);  
    overflow: hidden;
}

.director-section .title{
   position: relative;
   margin-left: 20rem;
   top: 5rem;
}

.director-section .title .top-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 5px;
    color: rgba(194, 194, 194, 0.8);
}

.director-section .title .down-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5px;
}

.director-section .title .down-title h5{
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    fill-color: transparent;
}

.director-section .director-images {
    display: flex;
    position: absolute;
    left: 24%;
    margin-top: 15rem;
}

.director-section .director-images .director-img-one img, .director-img-two img, .director-img-three img{
    width: 90%;
}

.director-section .bottom-content{
    position: absolute;
    margin-top: 37rem;
    margin-left: 20rem;
}

.director-section .bottom-content .top-title h2{
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 8px;
    color: #FFFFFF;
}

.director-section .bottom-content .down-title h6{
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 4px;
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 1rem;

}

.director-section .bottom-content .para p{
    font-weight: 300;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.69);
}


/* 
    ===========================
    Services Section CSS
    =========================== 
*/

.services{
    height: 992px;
    background-color: #020202;
}
 
.services .title{
    position: relative;
    margin-left: 20rem;
    top: 5rem;
}

.services .title .top-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 5px;
    color: rgba(194, 194, 194, 0.8);
}

.services .title .down-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5px;
}

.services .title .down-title h5{
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    fill-color: transparent;
}

.services .services-images{
    display: flex;
    margin-top: 10rem;
    padding: 1rem;
    gap: 0.5rem;
}

.services .services-images .services-img-one img,.services-img-two img,.services-img-three img{
  width: 100%;
  height: 100%;
}

.services .services-images .top-content{
    position: absolute;
    padding: 1rem;
    margin-top: -10rem;
    margin-left: 0.5rem;
    width: 450px;
    height: 150px;
    background: rgba(0, 0, 0, 0.87);
}

.services .services-images .services-img-one .top-content .top-title{
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 8px;
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.services .services-images .top-content .para{
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.69);
}

.services .services-images .services-img-two .top-content{
    position: absolute;
    padding: 1rem;
    margin-top: 27.5rem;
    margin-left: 0.5rem;
    width: 400px;
    height: 80px;
    background: rgba(0, 0, 0, 0.87);
}

.services .services-images .services-img-two .top-content .top-title{
    font-weight: 700;
    line-height: 32px;
    padding: 0.5rem;
    letter-spacing: 8px;
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.services .services-images .services-img-three .top-content{
    position: absolute;
    padding: 0.5rem;
    margin-top: 27.5rem;
    margin-left: 0.5rem;
    width: 400px;
    height: 80px;
    background: rgba(0, 0, 0, 0.87);
}

.services .services-images .services-img-three .top-content .top-title{
    font-weight: 700;
    line-height: 32px;
    padding: 0.6rem;
    letter-spacing: 8px;
    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


/* 
    ===========================
    Footer Section CSS
    =========================== 
*/

footer{
    height: 500px;
    background: linear-gradient(180deg, rgba(4, 4, 4, 0.96) 0%, #040404 100%);
    overflow: hidden;
}

footer .say-hello{
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.3;
}

footer .contact-txt{
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 5px;
    text-transform: uppercase;

    background: linear-gradient(90deg, #ECEDED 4.59%, #8A8E93 31.42%, #4C546B 70.68%, #2C3756 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

footer .social-icons{
    display: flex;
    gap: 0.5rem;
}

footer .contact .inquiries{
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.3;
}

footer .contact .contact-no{
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

footer .address .address-location{
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 2px;
    color: #FFFFFF;
    opacity: 0.3;
}

footer .address .address-txt{
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

footer .footer-details{
    position: relative;
    margin-left: 10rem;
    top: 15%;
}

footer .footer-details .contact-txt{
    margin-bottom: 3rem;
}

footer .social-icons{
    margin-bottom: 5rem;
}

footer .contact{
    margin-bottom: 3rem;
}

footer .footer-logo img{
    position: relative;
    margin-left: 40rem;
    bottom: 20rem;
    width: 50%;
  
}


